@model IEnumerable<Product>


<main class="bestcollection">
    <div class="container">
        <h1 class="title">Best Collection</h1>
        <ul class="categories">
            <li class="category-item">All</li>
            <li class="category-item">Bag</li>
            <li class="category-item">Dress</li>
            <li class="category-item">Decoration</li>
            <li class="category-item">Essentials</li>
            <li class="category-item">Interior</li>
            <li class="category-item">Laptop</li>
            <li class="category-item">Mobile</li>
            <li class="category-item">Beaty</li>
        </ul>
        <div class="cards-container">
            @foreach (var product in Model)
            {
                await Html.RenderPartialAsync("_ProductCardPartial", product);
            }
        </div>
        <button class="btn-white">LOAD MORE<i class="fa-solid fa-rotate-right"></i></button>
    </div>
</main>