@using ehandel.Models.viewModels;
@model HomeIndexVM


<main class="bestcollection">
    <div class="container">
        <h1 class="title">Best Collection</h1>
        <ul class="categories">
            @foreach (var cat in Model.CategoryList)
            {
                <li class="category-item">@cat.Name</li>
            }
        </ul>
        <div class="cards-container">
            @*Takes 8 products regarless of statuses*@
            @foreach (var product in Model.AllProducts.Take(8))
            {
                await Html.RenderPartialAsync("_ProductCardPartial", product);
            }
        </div>
        <button class="btn-white">LOAD MORE<i class="fa-solid fa-rotate-right"></i></button>
    </div>
</main>