<a class="card-modified" href="#">
    <img src="~/img/products/370x295.svg" alt="Product" class="img">
    <div class="content">
        <div class="text-content">
            <div class="name">Table lamp 1562 LTG modal</div>

        </div>
        <div class="body">
            Best dress for everyone ed totam velit risus viverra
            nobis donec recusandae perspiciatis incididuno.
        </div>
        <div class="price-content">
            <span class="prices">
                <span class="priceoff">Post by: Admin</span>
                <span class="price">Comments 13</span>
            </span>
        </div>
    </div>
</a>