<footer class="footer">
    <div class="container-fluid">
        <div class="content">
            <div class="text-custom">© 2023 bmarketo. All rights reserved.</div>
        </div>
    </div>
</footer>