@using ehandel.Models.viewModels;
@model HomeIndexVM

<section class="halfprice">
    <div class="container">
        <div class="cards-container">
            @*Filtering out product with all statuses, and takes one*@
            @foreach (var product in Model.AllProducts.Where(u =>
            u.ProductStatusMappings.Any(m => m.ProductStatus.Status == "New") &&
            u.ProductStatusMappings.Any(m => m.ProductStatus.Status == "Popular") &&
            u.ProductStatusMappings.Any(m => m.ProductStatus.Status == "Featured")).Take(1))
            {
                await Html.RenderPartialAsync("_ProductCardHalfPricePartial", product);
            }
            <a class="card-modified sales" href="#">
                <div class="sales-content">
                    <div class="red-text">UP TO SELL</div>
                    <div class="fifty">50% OFF</div>
                    <div class="bestprice">Get The Best Price</div>
                    <div class="body">
                        Get the best daily offer et accusam et justo duo dolores et ea rebum. Stet
                        clita kasd gubergren no sea taki.
                    </div>
                    <div class="discover">Discover More</div>
                </div>
            </a>
            @*Filtering out product with all statuses, and skips first and takes one*@
            @foreach (var product in Model.AllProducts.Where(u =>
            u.ProductStatusMappings.Any(m => m.ProductStatus.Status == "New") &&
            u.ProductStatusMappings.Any(m => m.ProductStatus.Status == "Popular") &&
            u.ProductStatusMappings.Any(m => m.ProductStatus.Status == "Featured")).Skip(1).Take(1))
            {
                await Html.RenderPartialAsync("_ProductCardHalfPricePartial", product);
            }
        </div>
    </div>
</section>