<section class="halfprice">
    <div class="container">
        <div class="cards-container">
            <a class="card-modified" href="#">
                <img src="img/placeholders/369x310.svg" alt="Product" class="img">
                <div class="content">
                    <div class="text-content">
                        <div class="name">Table Lamp - scelerisque tempore</div>
                    </div>
                    <div class="price-content">
                        <span class="prices">
                            <span class="priceoff">$50.00</span>
                            <span class="price">$30.00</span>
                        </span>
                        <i class="icon fa-regular fa-cart-plus"></i>
                    </div>
                </div>
            </a>
            <a class="card-modified sales" href="#">
                <div class="sales-content">
                    <div class="red-text">UP TO SELL</div>
                    <div class="fifty">50% OFF</div>
                    <div class="bestprice">Get The Best Price</div>
                    <div class="body">
                        Get the best daily offer et accusam et justo duo dolores et ea rebum. Stet
                        clita kasd gubergren no sea taki.
                    </div>
                    <div class="discover">Discover More</div>
                </div>
            </a>
            <a class="card-modified" href="#">
                <img src="img/placeholders/369x310.svg" alt="Product" class="img">
                <div class="content">
                    <div class="text-content">
                        <div class="name">Table Lamp - scelerisque tempore</div>
                    </div>
                    <div class="price-content">
                        <span class="prices">
                            <span class="priceoff">$50.00</span>
                            <span class="price">$30.00</span>
                        </span>
                        <i class="icon fa-regular fa-cart-plus"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>