<header>
    <div class="container">
        <a asp-area="Customer" asp-controller="Home" asp-action="Index"><img src="~/img/logo.svg" alt="Logo" class="logo"></a>
        <div id="menu" class="hide">
            <nav class="menu-links">
                <a class="link" asp-area="Customer" asp-controller="Home" asp-action="Index">HOME</a>
                <a class="link" asp-area="Customer" asp-controller="Home" asp-action="Products">PRODUCTS</a>
                <a class="link" asp-area="Customer" asp-controller="Contact" asp-action="Index">CONTACT</a>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <div class="dropdown d-inline">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            CMS
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="Admin" asp-controller="ContactAdmin" asp-action="CommentList">Comments</a></li>
                            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a></li>
                            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Create user</a></li>
                            <li><a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Index">Users list</a></li>
                        </ul>
                    </div>
                }
            </nav>
            <nav class="menu-icons">
                <a class="link disabled"><i class="fa-regular fa-search"></i></a>
                <a class="link disabled"><i class="fa-solid fa-cart-shopping"></i></a>
                <a class="link" asp-area="Customer" asp-controller="Home" asp-action="Info"><i class="fa-solid fa-question"></i></a>
                <partial name="_LoginPartial" />
            </nav>
        </div>
        <div class="toggle">
            <button class="btn-white" data-option="toggle" data-target="#menu">
                <i class="fa-regular fa-bars"></i>
            </button>
        </div>
    </div>
</header>