<section class="hero">
    <div class="container-fluid">
        <div class="container">
            <div class="content">
                <div class="text">
                    <div class="title-welcome">WELCOME TO BMERKETO SHOP</div>
                    <div class="img-text">Exclusive Chair<br>gold Collection. </div>
                    <button class="btn-theme">SHOP NOW</button>
                </div>
                <div class="img">
                    <img src="~/img/products/showcase1.png" alt="placeholders">
                </div>
            </div>
        </div>
    </div>
</section>