@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@*<ul class="navbar-nav">*@
@if (SignInManager.IsSignedIn(User))
{
    <a id="manage" class="link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>

    <form id="logoutForm" style="display: inline-block;" class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button id="logout" type="submit" class="link" style="
background: none;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
display: inline;
">
            Logout
        </button>
    </form>
}
else
{
    <a class="link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
}
@*</ul>*@
