<section class="newsletter">
    <div class="container-fluid">
        <div class="content">
            <div class="whitebox">
                <form class="container-subscribe">
                    <input placeholder="Enter your mail here" type="text">
                    <button class="btn-theme">Subscribe for newsletter<i class="fa-sharp fa-solid fa-paper-plane fa-beat"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>