<main class="productdetails">
    <div class="container">
        <div class="content-textimg">
            <div class="images">
                <img src="img/placeholders/501x430.svg" alt="" class="div1">
                <img src="img/placeholders/120x113.svg" alt="" class="div2">
                <img src="img/placeholders/120x113.svg" alt="" class="div3">
                <img src="img/placeholders/120x113.svg" alt="" class="div4">
                <img src="img/placeholders/120x113.svg" alt="" class="div5">
            </div>
            <div class="textinfo">
                <div class="productname">Young Star Smart Shoe in Fashion</div>
                <div class="productdescription">
                    Lirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                    diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div>
                <div class="border-mod"></div>
                <div class="productrating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    16 reviews
                </div>
                <div class="productprice">$30.00</div>
                <div class="addtocart">
                    <span>
                        <button>-</button>
                        <button>+</button>
                        <button class="btn-theme">
                            Add to Cart
                            <i class="icon fa-regular fa-cart-plus"></i>
                        </button>
                    </span>
                </div>
                <div class="inventory">
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                    <i class="fa-solid fa-circle"></i>
                    <span class="sku">SKU: N/A</span>
                </div>
                <div class="wishlist">
                    <button class="btn-white">Add to wishlist</button>
                </div>
                <div class="category">Category: Table Lamp, Light</div>
            </div>
        </div>
        <div class="content-tabs">
            <div class="tab-buttons">
                <button class="btn-theme">DESCRIPTION</button>
                <button class="btn-white">ADDITIONAL INFO</button>
                <button class="btn-white">REVIEWS (0)</button>
                <button class="btn-white">SHIPPING & DELIVERY</button>
            </div>

            <div class="tab-info">
                <h3 class="tab-title">
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.
                </h3>
                <div class="tab-body">
                    <div class="text">
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et
                            justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem
                            ipsum dolor sit amet. Lorem ipsum dolor.
                        </p>
                        <p>
                            accusantium laborum pretium hic excepturi harum repellat facilisis convallis potenti,
                            adipiscing lectus aliqua. Asperiores repudiandae ipsam error erat, accusamus, cum taciti
                            unde?
                        </p>
                        <p>
                            Praesentium, pariatur, tempora consequuntur purus sapiente, iaculis vitae consequatur,
                            rhoncus earum eleifend, hendrerit ipsum rhoncus ex error, impedit! Alias laboris sequi curae
                            aptent? Eu sagittis eu, distinctio tortor? Dapibus delectus! Consequuntur luctus.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et
                            justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem
                            ipsum dolor sit amet. Lorem ipsum dolor.
                        </p>
                    </div>
                    <img src="img/placeholders/469x356.svg" alt="hm">
                </div>
            </div>
        </div>
        <div class="content-related">
            <h3 class="related-title">Related products</h3>
            <div class="cards-container">
                <a class="card-modified" href="#">
                    <img src="img/placeholders/270x295.svg" alt="Product" class="img">
                    <div class="content">
                        <div class="text-content">
                            <div class="name">Table Lamp</div>
                            <div class="price">$30.00</div>
                        </div>
                        <i class="icon fa-regular fa-cart-plus"></i>
                    </div>
                </a>
                <a class="card-modified" href="#">
                    <img src="img/placeholders/270x295.svg" alt="Product" class="img">
                    <div class="content">
                        <div class="text-content">
                            <div class="name">Table Lamp</div>
                            <div class="price">$30.00</div>
                        </div>
                        <i class="icon fa-regular fa-cart-plus"></i>
                    </div>
                </a>
                <a class="card-modified" href="#">
                    <img src="img/placeholders/270x295.svg" alt="Product" class="img">
                    <div class="content">
                        <div class="text-content">
                            <div class="name">Table Lamp</div>
                            <div class="price">$30.00</div>
                        </div>
                        <i class="icon fa-regular fa-cart-plus"></i>
                    </div>
                </a>
                <a class="card-modified" href="#">
                    <img src="img/placeholders/270x295.svg" alt="Product" class="img">
                    <div class="content">
                        <div class="text-content">
                            <div class="name">Table Lamp</div>
                            <div class="price">$30.00</div>
                        </div>
                        <i class="icon fa-regular fa-cart-plus"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="content-dontknow">
            <div class="dontknow">
                <div class="img-container">
                    <img src="img/placeholders/200x122.svg" alt="">
                    <img src="img/placeholders/200x122.svg" alt="">
                    <img src="img/placeholders/200x122.svg" alt="">
                    <img src="img/placeholders/200x122.svg" alt="">
                    <img src="img/placeholders/200x122.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</main>