.bestselling {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-family: $font-poppins;
            font-size: 30px;
            font-weight: $font-weight-semibold;
            color: $color-dark-grey;
            margin: 5% 0;
        }

        .cards-container {
            @include sm {
                display: grid;
                grid-template-rows: repeat(1, 1fr);
                grid-row-gap: 30px;
            }

            @include md {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
            }

            @include lg {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
            }

            @include xl {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
            }

            @include xxl {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
            }

            @include xxxl {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
            }

            .card-modified {
                width: 270px;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

                .content {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    max-width: 270px;

                    .text-content {
                        .name {
                            font-size: 18px;
                            font-family: $font-poppins;
                            font-weight: $font-weight-medium;
                            color: $color-dark-grey;
                            margin-top: 20px;
                        }

                        .price {
                            margin-top: 10px;
                            font-size: 16px;
                            font-family: $font-poppins;
                            color: $color-grey;
                        }
                    }

                    .icon {
                        font-size: 25px;
                        color: $color-dark-grey;
                        margin-bottom: 5px;
                    }
                }
            }
        }

        .arrowbuttons {
            margin: 5% 0;
        }

        .cards-container-few {
            @include sm {
                display: grid;
                grid-template-rows: repeat(1, 1fr);
                grid-row-gap: 30px;
            }

            @include md {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
            }

            @include lg {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
            }

            @include xl {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
            }

            @include xxl {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
            }

            @include xxxl {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
            }

            .card-modified {
                box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
                background-color: $color-white;
                width: 370px;
                height: 450px;


                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 120px;

                    .text-content {
                        .name {
                            font-size: 18px;
                            font-family: $font-poppins;
                            font-weight: $font-weight-medium;
                            color: $color-dark-grey;
                            margin-top: 5px;
                        }
                        
                    }
                    .body{
                        font-family: $font-roboto;
                        font-size: 16px;
                        color: $color-grey;
                    }
                    .price-content {
                        display: flex;
                        justify-content: space-between;

                        .prices {
                            .price {
                                margin-top: 10px;
                                font-size: 12px;
                                font-family: $font-poppins;
                                color: $color-light-greyish;
                            }

                            .priceoff {
                                margin-top: 10px;
                                font-size: 12px;
                                font-family: $font-poppins;
                                color: $color-light-greyish;
                                margin-right: 20px;
                            }
                        }


                        .icon {
                            font-size: 18px;
                            color: $color-light-grey;
                            margin-bottom: 5px;
                        }
                    }

                }

            }
        }
    }
}