$color-white: #FFFFFF;

$color-theme-red: #FA3150;
$color-theme-white-1: #FAEFEF;
$color-theme-white-2: #F3F2F2;
$color-theme-white-3: #FAFAFA;

$color-black: #000000;
$color-dark-grey: #292929;
$color-greyish: #363636;
$color-greyishtwo: #404040;
$color-grey: #636363;
$color-light-grey: #AEAEAE;
$color-light-greyishtwo: #A5A5A5;
$color-light-greyish: #B0B0B0;


$color-yellow: #F9C936;
$color-blueish: #92B8B9;