@page
@model IndexModel
@{
    ViewData["Title"] = "Profile page";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@*Custom profile page*@

<partial name="_StatusMessage" for="StatusMessage" />
<div class="container my-5">
    <div class="">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" disabled />
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" placeholder="Please enter your first name." />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" placeholder="Please enter your last name." />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" placeholder="Please enter your phone number." />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.City" placeholder="Please enter your city name." />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.StreetAddress" placeholder="Please enter your street address." />
                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PostalCode" placeholder="Please enter your postal code." />
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Company" placeholder="Please enter your company." />
                <span asp-validation-for="Input.Company" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn-theme">Save</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
